/Desafios/CalculadoraBasica/dist/
/Desafios/CalculadoraBasica (do - switch - while)/build/
/Desafios/CalculadoraBasica (do - switch - while)/dist/
/Desafios/CalculadoraBasica (do - switch - while)/nbproject/private/
