/Desafios/CalculadoraBasica/dist/
/Desafios/CalculadoraBasica (do - switch - while)/build/
/Desafios/CalculadoraBasica (do - switch - while)/dist/
/Desafios/CalculadoraBasica (do - switch - while)/nbproject/private/
/Desafios/Console/ContadorInteligente (do - while)/build/
/Desafios/Console/ContadorInteligente (do - while)/nbproject/private/
/Desafios/Console/CalculadoraBasica (do - switch - while)/build/
/Desafios/Console/CalculadoraBasica (do - switch - while)/dist/
/Desafios/Console/CalculadoraBasica (do - switch - while)/nbproject/private/
